<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>好友</key>
	<dict>
		<key>image</key>
		<string>haoyou.png</string>
		<key>x</key>
		<integer>30</integer>
		<key>y</key>
		<integer>30</integer>
		<key>width</key>
		<integer>100</integer>
		<key>height</key>
		<integer>100</integer>
	</dict>
	<key>小学</key>
	<dict>
		<key>image</key>
		<string>xiaoxue.png</string>
		<key>x</key>
		<integer>180</integer>
		<key>y</key>
		<integer>30</integer>
		<key>width</key>
		<integer>100</integer>
		<key>height</key>
		<integer>100</integer>
	</dict>
	<key>初中</key>
	<dict>
		<key>image</key>
		<string>chuzhong.png</string>
		<key>x</key>
		<integer>30</integer>
		<key>y</key>
		<integer>150</integer>
		<key>width</key>
		<integer>100</integer>
		<key>height</key>
		<integer>100</integer>
	</dict>
	<key>高中</key>
	<dict>
		<key>image</key>
		<string>gaozhong.png</string>
		<key>x</key>
		<integer>180</integer>
		<key>y</key>
		<integer>150</integer>
		<key>width</key>
		<integer>100</integer>
		<key>height</key>
		<integer>100</integer>
	</dict>
	<key>大学</key>
	<dict>
		<key>image</key>
		<string>daxue.png</string>
		<key>x</key>
		<integer>30</integer>
		<key>y</key>
		<integer>270</integer>
		<key>width</key>
		<integer>100</integer>
		<key>height</key>
		<integer>100</integer>
	</dict>
</dict>
</plist>
